<html>
	<head></head>
	<body>
		<div style="width: 550px;border:1px solid #ccc;border-radius:10px;">
            <div style="padding: 20px; background: #f7f7f7; border-top-left-radius: 10px; border-top-right-radius:10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h3 style="color: #1FA3B1; font-weight: 500"> Hello {{firstName}} {{lastName}},</h3>
                <div>
                    <p style="color: #777;word-spacing: 2.2px;line-height: 21px;">
                        Your verification code for the Dowcoin wallet is : <b>{{otp}}</b><br><br>
                        Enter the code into the authorization menu on the Dowcoin Dashboard.
                        Please do not share this code with anyone.<br><br>

                        For any inquiries about this email please send a message to <a href="mailto:info@dowico.com">info@dowico.com</a>.
                        Please do not reply to this email as we will not receive the email.<br><br>

                        Thank You, <br>

                        The Dowcoin Team
                    </p>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
	</body>
</html>