<div ng-controller="homeCtrl">
        <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
    <div id= "login-signup">

    <div class="agile-login">
            
            <div class="wrapper">
                <h2>Enter New Password</h2>
                <div class="w3ls-form">
                    <form name="loginForm">
                        <label>New Password</label>
                        <input id="passwordsignup" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-keypress="enterPress($event)" name="passwordsignup" ng-model="formData.newPassword" required="required" type="password" placeholder="New Password"/>
                        <p style = "color:red;" ng-show="loginForm.passwordsignup.$error && resetPasswordError">Password should be atleast 8 characters long
                                and should contain one number,one character and one special
                                character.</p>
                        <label>Confirm Password</label>
                        <input id="passwordsignup_confirm" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-keypress="enterPress($event)" ng-model="formData.newPasswordOne" name="passwordsignup_confirm" required="required" type="password" placeholder="Confirm Password" />
                        
                        
                        <input type="button" ng-click="resetPassword()" value="Submit" />
                        
                    </form>
                </div>
                
                <!-- <div class="agile-icons">
                    <a href="https://mobile.twitter.com/dowcoin" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                    <a href="https://www.facebook.com/dowcoin/" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a href="https://medium.com/@dowcoin" target="_blank"><span class="fa fa-medium"></span></a>
                    <a href="https://www.instagram.com/dowcoin/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div> -->
            </div>
            <br>
            
        </div>
        </div>
    </div>