<div ng-controller="homeCtrl">
        <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
    <div id= "login-signup">
    <div class="agile-login">
            
            <div class="wrapper">
                <h2>Verify Email</h2>
                <div class="w3ls-form">
                    <form name="loginForm">
                        <label>Email</label>
                        <input id="username" name="username" ng-model="formData.forgotPasswordEmail" ng-keypress="enterPress($event)" required="required" type="text" placeholder="Email"/>
                        <p style = "color:red;" ng-show="loginForm.username.$invalid && forgotPasswordError">Invalid Email.</p>
                        
                        
                        <p style="color:red" ng-show="loginError">Invalid Email</p>
                        <input type="button" ng-click="forgotPassword()" value="Send OTP" />
                       
                        <a ui-sref="home" class="register">Back to Login?</a>
                    </form>
                </div>
                
                <!-- <div class="agile-icons">
                    <a href="https://mobile.twitter.com/dowcoin" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                    <a href="https://www.facebook.com/dowcoin/" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a href="https://medium.com/@dowcoin" target="_blank"><span class="fa fa-medium"></span></a>
                    <a href="https://www.instagram.com/dowcoin/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div> -->
            </div>
            <br>
            
        </div>
        </div>
    </div>