<div ng-controller="homeCtrl">
		<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
	<div id= "login-signup">
	<div class="agile-login">
			
		<div class="wrapper">
			<h2>Sign In</h2>
			<div class="w3ls-form">
				<form name="loginForm" data-toggle="validator" novalidate>
					
					<label>Email</label>
					
					<input id="email" name="email" required="required" ng-model="formData.loginEmail" type="email" ng-keypress="enterPress($event)"  placeholder="Email"/>
					<p style = "color:red;" ng-show="loginForm.email.$invalid && loginError">Invalid Email.</p>
					
					<label>Password</label>																									
					
					<input id="password" ng-minlength="8" ng-keypress="enterPress($event)" name="password" required="required" ng-model="formData.loginPassword" type="password" placeholder="Password" />
					<p style = "color:red;" ng-show="loginForm.password.$error.minlength && loginError">Password should be 8 characters long.</p>
					
					<!-- <div class="g-recaptcha" data-sitekey="6Lfo3zsUAAAAAP9DmGgZK4zVpzNJ-FN9HEHuVZXU" style="margin-top: 9%;margin-left: 7%;"></div> -->
					
					
					<input type="button" ng-click="login()"  value="Login" />
					<a ui-sref="forgotPassword" class="pass">Forgot Password?</a>
					<a ui-sref="register" class="register">Register?</a>
				</form>
			</div>
			
			<div class="agile-icons">
				<a href="https://mobile.twitter.com/dowcoin" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
				<a href="https://www.facebook.com/dowcoin/" target="_blank"><span class="fa fa-facebook"></span></a>
				<a href="https://medium.com/@dowcoin" target="_blank"><span class="fa fa-medium"></span></a>
				<a href="https://www.instagram.com/dowcoin/" target="_blank"><span class="fa fa-instagram"></span></a>

			</div>
		</div>
		<br>
		
	</div>
	</div>
</div>