<div ng-controller="homeCtrl">

	<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>

	<div id="login-signup">
		<div class="agile-register">

			<div class="wrapper-register">
				<h2>Sign Up</h2>
				<div class="w3ls-form-register">
					<form name="signupForm">

						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:-3%;" >
							<label>Firstname</label>
							<input id="firstnamesignup" name="firstname" ng-model="formData.firstName" required="required" type="text" placeholder="Firstname"
							/>
							<!-- <p style="color:red;" ng-show="signupForm.firstname.$invalid && signupError">Invalid Email.</p> -->

						</div>
						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:3%;" >
							<label>Lastname</label>
							<input id="lastnamesignup" name="lastname" ng-model="formData.lastName" required="required" type="text" placeholder="Lastname"
							/>

						</div>

						<div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -3%;">
							<label>Email</label>

							<input id="emailsignup" name="emailsignup" required="required" ng-model="formData.signupEmail" type="email" ng-keypress="enterPress($event)"
							 placeholder="Email" style="width: 103%;"/>
							
						</div>
						<p style="color:red;" ng-show="signupForm.emailsignup.$invalid && signupError">Invalid Email.</p>

						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:-3%;" >
							<label>Password</label>
							<input id="passwordsignup" name="passwordsignup" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-keypress="enterPress($event)" required="required" ng-model="formData.signupPassword"
							 type="password" placeholder="Password" />

						</div>
						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:3%;" >
							<label>Confirm Password</label>
							<input id="passwordsignup_confirm" name="passwordsignup_confirm" ng-minlength="8" ng-keypress="enterPress($event)" ng-model="formData.confirmPassword"
							 required="required" type="password" placeholder="Confirm Password" />

						</div>


						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:-3%;" >
							<label>Country</label>
							<input id="country" name="country" required="required" ng-model="formData.country" type="text" placeholder="Country" />
						</div>

						<div class="col-sm-6 col-md-6 col-lg-6" style="margin-left:3%;" >
							<label>Telephone</label>
							
							<input id="telephone" name="telephone" required="required" ng-model="formData.telephone" type="number" placeholder="Telephone"/>

						</div>


						<!-- <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -3%;margin-top: -30%;width: 104%;"> -->
						<input type="button" ng-click="signup()" value="Sign up" style="margin-top: 6%;margin-left: -1%;" />
						<!-- </div> -->
						<p style="color:red;" ng-show="signupForm.passwordsignup.$error && signupError"  ng-message="pattern">Password should be atleast 8 characters long
								and should contain one number,one character and one special
								character.</p>
						

						<a ui-sref="home" class="register">Go and log in</a>
					</form>
				</div>

				<div class="agile-icons">
					<a href="https://mobile.twitter.com/dowcoin" target="_blank">
						<span class="fa fa-twitter" aria-hidden="true"></span>
					</a>
					<a href="https://www.facebook.com/dowcoin/" target="_blank">
						<span class="fa fa-facebook"></span>
					</a>
					<a href="https://medium.com/@dowcoin" target="_blank">
						<span class="fa fa-medium"></span>
					</a>
					<a href="https://www.instagram.com/dowcoin/" target="_blank">
						<span class="fa fa-instagram"></span>
					</a>
				</div>
			</div>
			<br>

		</div>
	</div>

</div>