<div ng-controller="homeCtrl">
        <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>

    <div id= "login-signup">
    <div class="agile-login">
            
            <div class="wrapper">
                <h2>Verify OTP</h2>
                <div class="w3ls-form">
                    <form >
                        <label>Enter OTP</label>
                        <input id="otp" name="otp" required="required" ng-model="formData.verifyOTP" type="number" placeholder="Enter Otp"/>
                        
                        
                        
                        <p style="color:red" ng-show="verifyEmailError">{{verifyEmailErrorMessage}}</p>
                        <input type="button" ng-click="verifyEmail()" value="Verify" />
                       
                        <a ng-click="resendOtp()" class="register" type="button" style="cursor:pointer">Resend Otp?</a>
                    </form>
                </div>
                
                <!-- <div class="agile-icons">
                    <a href="https://mobile.twitter.com/dowcoin" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                    <a href="https://www.facebook.com/dowcoin/" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a href="https://medium.com/@dowcoin" target="_blank"><span class="fa fa-medium"></span></a>
                    <a href="https://www.instagram.com/dowcoin/" target="_blank"><span class="fa fa-instagram"></span></a>
                </div> -->
            </div>
            <br>
            
        </div>
        </div>
</div>