#dashboard {
  /* margin-top: 10px; */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow:hidden;
  /* Toggle button */
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

#dashboard #content {
  flex: 1 0 auto;
}

#dashboard .overlay {
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
}

#dashboard .hamburger-icon {
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: -96%;
}

#dashboard .hamburger-icon div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

#dashboard .block {
  display: block;
}

#dashboard .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

#dashboard .switch input {
  display: none;
}

#dashboard .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#dashboard .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#dashboard input:checked+.slider {
  background-color: #2196f3;
}

#dashboard input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

#dashboard input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#dashboard .slider.round {
  border-radius: 34px;
}

#dashboard .slider.round:before {
  border-radius: 50%;
}


/******************************** Navigation Bar Css ********************************************/

#navigation-bar .wrapper {
  display: block;
}

#navigation-bar #sidebar {
  display: none;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
  overflow: auto;
}

#navigation-bar #sidebar.toggle,
#navigation-bar #sidebar.toggle-add,
#navigation-bar #sidebar.toggle-remove {
  transition: 0.5s linear all;
  opacity: 0;
}

#navigation-bar #sidebar.toggle.active,
#navigation-bar #sidebar.toggle-add.active,
#navigation-bar #sidebar.toggle-remove.active {
  opacity: 1;
}

#navigation-bar #sidebar.active {
  left: 0;
  display: block;
}

#navigation-bar #dismiss {
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}

#navigation-bar p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

#navigation-bar a,
#navigation-bar a:hover,
#navigation-bar a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#navigation-bar #sidebar {
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

#navigation-bar #sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#navigation-bar #sidebar ul p {
  color: #fff;
  padding: 10px;
}

#navigation-bar #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#navigation-bar #sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#navigation-bar #sidebar ul li {
  position: relative;
}

#navigation-bar #sidebar ul li span {
  padding-left: 5px;
  font-size: 16px;
  position: absolute;
  bottom: 14px;
  font-family:"jura"
}

#navigation-bar #sidebar ul li.active>a,
#navigation-bar a[aria-expanded="true"] {
  color: #fff;
  background: #6373b7;
}

#navigation-bar ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.panel-body {
  color: #b2dbfb;
  text-align: left;
  background: #fff url(../images/bg-fade.jpg) repeat top left;
}

.heading {
  font-size: 200%;
}

.table>thead>tr>th {
  font-size: 130%;
  text-align: center;
}

.panel-body {
  text-align: left;
  /* font-size: 143%; */
  font-style: 'Montserrat', sans-serif;
}

.panel-heading {
  text-align: left;
  font-size: 20px;
}

.btn-success {
  background-color: green !important;
}

.panel-heading h4 {
  font-weight: bold;
  font-size:200%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #send-money form {
    width: 50%;
    display: table;
    margin: 0 auto;
  }
}

.table>thead>tr>th {
  font-size: 130%;
  text-align: center;
}

.table {
  margin-top: 2%;
}

.import {
  font-size: 21px;
  font-weight: normal;
  margin-top: 21px;
  margin-bottom: 63px
}

input[type=radio] {
  margin-top: 8%;
}

.alignment {
  text-align: left;
}

.alignment-heading {
  font-size: 23px;
  font-weight: bold;
  font-family: "jura";
}

.ta5 {
  border: 2px solid #765942;
  /* border-radius: 10px; */
  height: 84px;
  width: 100%;
  margin-top: 4%;
  overflow: hidden;
  padding: 5px;
}

.ta5:focus {
  box-shadow: none;
}

.error-container {
  margin-top: 15px;
}


/************** Start of styling input file *****************/

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 8px;
  display: inline-block;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  /* "hand" cursor */
}

.inputfile:focus+label,
.inputfile+label:hover {
  /* font-size: 16px; */
}

.inputfile+label i {
  margin-right: 5px;
}

.inputfile:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
  pointer-events: none;
}


/************** End of styling input file *****************/

.agile-icons {
  padding: 3% 0px;
  margin-top: -2%;
  margin-left: 2%;
  margin-bottom: -2%;
}

span.fa.fa-twitter:hover {
  background-color: #00b6f1;
  color: white;
}

span.fa.fa-facebook:hover {
  background-color: #3b5998;
  color: white;
}

span.fa.fa-telegram:hover {
  background-color: #0088cc;
  color: white;
}

span.fa.fa-medium:hover {
  background-color: #02b875;
  color: white;
}

span.fa.fa-instagram:hover {
  background-color: #e4405f;
  color: white;
}

.agile-icons span.fa {
  font-size: 12px;
  margin: auto 10px;
  color: #000;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: #fff;
}

.agile-telegram span.fa {
  font-size: 12px;
  margin: auto 10px;
  color: #000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0.7% 0px;
}

.agile-query {
  /* margin-top: 35%; */
  margin-left: 4%;
  color: #fff;
}
input[type="radio"] {
  
  margin-top: 10px !important;}

.font-balance{
  font-size: 150%;
  color: white;
  font-family: 'jura','sans-serif';
}
.font-balance-setting{
  font-size: 100%;
  color: white;
  font-family: 'jura','sans-serif';
}
.balance{
  font-size: 180%;
  margin-top: 2%;
}
.panel-body {
  padding: 70px;
  font-family: 'jura';
}

.font-address{
  font-size: 1.5em;
  font-family: 'jura';
  margin-top: 4%;
}

.btn-primary{
  margin-top:15px;
}


.modal-content{
  background: black;
  margin-top:20%;
}

.sidebar-header img {
  
  width: 172px;
  height: 25px;
  /* background: #555; */
  margin-bottom: 4%;
  margin-top: 5%;
}

.glyphicon{
  margin-left: 2%;
}


