
textarea{
    resize: none;
    color: black;
    background-color: lightgray;
}

#login-signup{
    padding: 0;
	
}
#login-signup body {
	padding: 0;
	margin: 0;


}
#login-signup body a {
	color:red;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
#login-signup body a:hover {
	text-decoration: none;
}
#login-signup body a:focus, a:hover {
	text-decoration: none;
}
#login-signup input[type="button"],input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#login-signup h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Jura', sans-serif;
}
#login-signup p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
#login-signup ul {
	margin: 0;
	padding: 0;
}
#login-signup li {
	list-style-type:none;
}
#login-signup label {
	margin: 0;
}
#login-signup a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
#login-signup body{
	background: url('../images/5copy.jpg') no-repeat;
    background-size: cover;
	min-height: 100vh;
}
#login-signup .agile-login {

		padding-top: 120px;
}
#login-signup .agile-register {
    
            padding-top: 2%;
    }
#login-signup .wrapper {
    width: 450px;
    margin: auto;
   /* border-radius: 20px; */
    text-align: center;
    padding: 3% 0px;
    /*background-color: rgba(255, 255, 255, 0.31);*/
    background-color: rgba(6, 5, 5, 0.33);
	webkit-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
}
#login-signup .wrapper-register {
    width: 905px;
    margin: auto;
   /* border-radius: 20px; */
    text-align: center;
    padding: 3% 0px;
    /*background-color: rgba(255, 255, 255, 0.31);*/
    background-color: rgba(6, 5, 5, 0.33);
	webkit-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
}
#login-signup .w3ls-form {
    display: inline-block;
    width: 350px;
    margin:-4% auto;
    text-align: left;
}
#login-signup .w3ls-form-register {
    display: inline-block;
    width: 728px;
    margin:-4% auto;
    text-align: left;
}

#login-signup label, #login-signup input[type="email"], #login-signup input[type="password"], #login-signup input[type="text"], #login-signup input[type="telephone"], #login-signup input[type="number"], #login-signup input[type="submit"] {
    display: block;
	font-family: 'Open Sans', sans-serif;
}

#login-signup .agile-login h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#login-signup .wrapper h2 {
    margin-bottom: 30px;
    margin-left: -6%;
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
#login-signup .wrapper-register h2 {
    margin-bottom: 30px;
    margin-left: -6%;
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
#login-signup a.pass {
    font-size: 15px;
        color: #efbb42;
        float: left;
		font-family: 'Open Sans', sans-serif;
		    letter-spacing: 2px;
}
#login-signup a.register {
    font-size: 15px;
        color: #efbb42;
        float: right;
		font-family: 'Open Sans', sans-serif;
		    letter-spacing: 2px;
}
#login-signup .w3ls-form a {
    display: block;
    text-align: right;
	    margin: -5px 0px;
}

#login-signup label {
    margin: 20px 0px 8px 15px;
    font-size: 13px;
     color: #fff;
    font-family: 'Open Sans', sans-serif;
     text-transform: uppercase;
	letter-spacing: 2px;
}
#login-signup input[type="button"] {
	margin: 20px auto;
    padding: 9px 60px;
    border-radius: 25px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    border: 1px solid #4f5d61;
	cursor: pointer;
	    width: 100%;
	    letter-spacing: 1px;	
}
#login-signup input[type="button"]:hover {
    color: #fff;
    background-color:  rgb(0, 110, 255);
}
#login-signup ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc6c6;
}
#login-signup ::-moz-placeholder { /* Firefox 19+ */
  color: #ccc6c6;
}
#login-signup :-ms-input-placeholder { /* IE 10+ */
  color: #ccc6c6;
}
#login-signup :-moz-placeholder { /* Firefox 18- */
  color: #ccc6c6;
}

#login-signup .agile-icons {
    padding: 3% 0px;
    margin-top: 6%;
    margin-left: 7%;
}
#login-signup span.fa.fa-twitter:hover {
    background-color: #00b6f1;
    color: white;
}
#login-signup span.fa.fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}
#login-signup span.fa.fa-medium:hover {
    background-color: #02b875;
    color: white;
}
#login-signup span.fa.fa-instagram:hover {
    background-color: #e4405f;
    color: white;
}
#login-signup .agile-icons span.fa {
	font-size: 12px;
    margin: auto 10px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(243, 249, 249, 0.22);
}
#login-signup .copyright p {
    text-align: center;
        padding: 15px 0px;
    color: white;
    /* background-color: rgba(35, 30, 30, 0.43); */
    margin-top: 4%;
	    letter-spacing: 2px;
		font-size: 13px;
}
#login-signup .copyright a {
    color: aqua;
}
#login-signup .copyright a:hover {
    color: yellow;
}
/* responsive */
@media screen and (max-width: 1024px){
	
    #login-signup .copyright p {
   margin-top: 0%;
}
}


@media screen and (max-width: 568px){
    #login-signup .agile-login h1 {
		    font-size: 40px;
			
	}
}

@media screen and (max-width: 480px){
    #login-signup body{
		background-position: center;
	}
    #login-signup	.agile-login {
    padding-top: 35px;
}
#login-signup	.agile-login h1 {
    font-size: 35px;
    letter-spacing: 4px;
}
	.wrapper h2 {
    font-size: 26px;

}
#login-signup .wrapper-register h2 {
    font-size: 26px;

}
#login-signup .wrapper {
    width: 370px;
}
#login-signup .wrapper-register {
    width: 370px;
}
#login-signup .copyright p {
	letter-spacing: 1px;
	
}
	
}
@media screen and (max-width: 414px){
    #login-signup	.agile-login h1 {
    font-size: 30px;
	letter-spacing: 3px;
	    margin-bottom: 6%;
}
#login-signup .wrapper {
    width: 320px;
}
#login-signup .wrapper-register {
    width: 320px;
}
#login-signup .w3ls-form {
	    width: 300px;
}
#login-signup .w3ls-form-register {
    width: 300px;
}
#login-signup .wrapper h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
#login-signup .wrapper-register h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
#login-signup .copyright p {
    padding: 10px 0px;
    font-size: 14px;
    margin-top: 6%;
}
	
}
@media screen and (max-width: 375px){
    #login-signup .agile-login h1 {
    font-size: 29px;
}

#login-signup input[type="email"], #login-signup input[type="password"], #login-signup input[type="text"], #login-signup input[type="telephone"], #login-signup input[type="number"] {
		width: 90%;
    }

    #login-signup	label {
    margin: 20px 0px 5px 10px;
    font-size: 13px;
    color: #fff;
	}
    #login-signup	.copyright p {
    font-size: 13px;

}
}
@media screen and (max-width: 320px){
    #login-signup .w3ls-form {
    width: 270px;
}
#login-signup .w3ls-form-register {
    width: 270px;
}
#login-signup .agile-login h1 {
    font-size: 23px;
}
#login-signup .wrapper {
    width: 280px;
}
#login-signup .wrapper-register {
    width: 280px;
}
#login-signup .wrapper h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
#login-signup .wrapper-register h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
#login-signup input[type="submit"] {
    margin: 10px auto;
	padding: 8px 60px;
}
#login-signup .agile-login {
    padding-top: 30px;
}
#login-signup label {
    margin: 15px 0px 5px 10px;
}
#login-signup .copyright p {
   margin-top: 0%;
}
#login-signup input[type="email"], #login-signup input[type="password"], #login-signup input[type="text"], #login-signup input[type="telephone"], #login-signup input[type="number"] {
    padding: 10px 15px;
}

}
/* type */
#login-signup input[type="email"], #login-signup input[type="password"], #login-signup input[type="text"], #login-signup input[type="telephone"], #login-signup input[type="number"] {
    outline: 0;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    /* background-color: rgba(31, 248, 255, 0.59); */
    background-color: rgba(87, 102, 103, 0.59);
    color: white;
	width: 100%;
	letter-spacing: 1px;
}

#login-signup label, #login-signup input[type="email"], #login-signup input[type="password"], #login-signup input[type="text"], #login-signup input[type="telephone"], #login-signup input[type="number"] {
    display: block;
        font-family: 'Open Sans', sans-serif;
        
}
#login-signup input[type="button"]{
    font-family: 'Open Sans', sans-serif;
}
#dashboard select, #dashboard input[type="email"], #dashboard input[type="password"], #dashboard input[type="text"], #dashboard input[type="telephone"], #dashboard input[type="number"], #dashboard input[type="button"]{
    padding: 5px !important;
    color: black !important;
    background-color: lightgray !important;
    border-radius: -1px !important;
}

