#transactions .heading{
    color: #b2dbfb;
    font-weight: 700;
}

#transactions .table{
    color: #b2dbfb;
    background: #fff url(../images/bg-fade.jpg) repeat top left;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background: darkgray;
}

.pagination>li>a, .pagination>li>a, .pagination>li>span, .pagination>li>span{
    background: lightgray;
}

#transactions th{
    font-weight: bold;
    font-size: 150%;
    color: white;
    font-family: 'jura','sans-serif';
}

#transactions label{
    padding-top: 5px;
    margin-left: -9%;
}

#transactions select{
    padding: 5px 8px;
}

#transactions .st-sort-ascent:before{
    content: '\f077';
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
}

#transactions .st-sort-descent:before{
    content: '\f078';
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
} 