<div id="address-info" ng-controller="dashboardCtrl">
    <div class="panel panel-info clearfix" >
      <div class="panel-heading">
        <h4>Address Info</h4>
      </div>
      <div class="panel-body">
        <div class="text-center">
            <qrcode data="{{ethereumAddress}}" size="200"></qrcode>
            <br/>
            <span class="font-address">Address</span>
            <br/>
            <span style="word-break:break-all">{{ethereumAddress}}</span>
        </div>

        <div class="text center">
          <label for="selectaddress" class="font-address">Select Address</label>
          <select class="form-control" id="selectaddress" ng-model="address" ng-options="address in addressList">
            <option value="">Choose an Address</option>
          </select>
      </div>
    </div>
  </div>
  