<div ng-controller="dashboardCtrl">
  <div id="balance">
    <div class="panel panel-info clearfix" >
      <div class="panel-heading">
        <h4>Balance</h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-6 col-md-6 col-lg-6" ng-init="getWalletBalance()">
          <div class="text-center">
            <span class="font-balance"> Ethereum Balance</span>
            <div class="balance">{{walletBalance}}  <span ng-click="getWalletBalance()" class="glyphicon glyphicon-refresh" style="cursor:pointer"></span></div>
            
            <!-- <button class="btn btn-primary btn-sm" ng-click="getWalletBalance()">Refresh</button> -->
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" ng-init="getTokenBalance()">
          <div class="text-center">
            <span class="font-balance"> Dowcoin Balance</span>
            <div class="balance">{{tokenBalance}}  <span ng-click="getTokenBalance()" class="glyphicon glyphicon-refresh" style="cursor:pointer"></span></div>
            <!-- <button class="btn btn-primary btn-sm" ng-click="getWalletBalance()">Refresh</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="live-rates">
    <div class="panel panel-info clearfix" ng-init="rates()">
      <div class="panel-heading">
        <h4>Live Rates</h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="text-center">
            <span class="font-balance"> Ethereum</span>
            <div class="balance"><span> $</span>{{ethRate}} <span ng-click="rates()" class="glyphicon glyphicon-refresh" style="cursor:pointer"></span></div>
            <!-- <button class="btn btn-primary btn-sm" ng-click="rates()">Refresh</button> -->
           
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="text-center">
            <span class="font-balance"> Bitcoin</span>
            <div class="balance"><span>$</span>{{btcRate}} <span ng-click="rates()" class="glyphicon glyphicon-refresh" style="cursor:pointer"></span></div>
            <!-- <button class="btn btn-primary btn-sm" ng-click="rates()">Refresh</button> -->
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="text-center">
            <span class="font-balance"> Dowcoin</span>
            <div class="balance"><span> $0.40</span>{{dowRate}} <span ng-click="rates()" class="glyphicon glyphicon-refresh" style="cursor:pointer"></span></div>
            <!-- <button class="btn btn-primary btn-sm" ng-click="rates()">Refresh</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>