<div class="wrapper container-fluid" id="dashboard" ng-controller="dashboardCtrl" ng-init="getAllAddresses()">
  
  <div id="navigation-bar" align="left">
    <nav id="sidebar">
  
      <button class="btn btn-primary" id="dismiss" toogle-nav-bar>
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
  
      <!-- Sidebar Header -->
      <div class="sidebar-header">
          <img src="../../images/dowcoin-logo.png" alt="logo" />
        <!-- <h1 style="font-size:168%;">DOWCOIN</h1> -->
      </div>
  
      <!-- Sidebar Links -->
      <ul class="list-unstyled components">
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.transaction"><i class="fa fa-2x fa-history" aria-hidden="true"></i><span>Transaction History</span></a></li>
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.transfer"><i class="fa fa-2x fa-paper-plane" aria-hidden="true"></i><span>Send</span></a></li>
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.balance"><i class="fa fa-2x fa-money" aria-hidden="true"></i><span>Balance and Live Rates</span></a></li>
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.address"><i class="fa fa-2x fa-qrcode" aria-hidden="true"></i><span>Address Info</span></a></li>
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.importExport"><i class="fa fa-2x fa-external-link-square" aria-hidden="true"></i></i><span>Import and Export Key</span></a></li>
        <!-- <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.liveRates"><i class="fa fa-2x fa-usd" aria-hidden="true"></i></i><span>Live Rates</span></a></li>  -->
        <li ui-sref-active="active" toogle-nav-bar><a ui-sref="dashboard.settings"><i class="fa fa-2x fa-cog" aria-hidden="true"></i></i><span>Settings</span></a></li>
        
        <li ui-sref-active="active" toogle-nav-bar><a ng-click="logout()" ><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i><span>Logout</span></a></li>
      </ul>
    </nav>
  </div>
  
  
    <!-- Page Content -->
    <div id="content">
      <div class="btn btn-default hamburger-icon" toogle-nav-bar>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ui-view></ui-view>
    </div>
    <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
     <div class="overlay" toogle-nav-bar>
    </div> 
    <div class="agile-query" style="text-align:center;">Any Questions? Contact us at <a href=mailto:info@dowico.com  style="color:blue;">info@dowico.com</a> or join us on<a href="#" class="agile-telegram"><span class="fa fa-telegram"></span></a></div>
    <div class="agile-icons" style="text-align:center;">
      <a href="https://mobile.twitter.com/dowcoin" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
      <a href="https://www.facebook.com/dowcoin/" target="_blank"><span class="fa fa-facebook"></span></a>
      <a href="https://medium.com/@dowcoin" target="_blank"><span class="fa fa-medium"></span></a>
      <a href="https://www.instagram.com/dowcoin/" target="_blank"><span class="fa fa-instagram"></span></a>
    </div>
    
    <div style="text-align:center;color:white">© 2017 Dowcoin Inc. All rights reserved</div>
  </div>