<div ng-controller="walletCtrl" ng-init="myText='0'">
    <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="panel panel-info clearfix">

        <div class="panel-heading">
          <h4>Import Private Key</h4>
        </div>
        <div class="panel-body">

          <span class="alignment-heading">How would you like to import your account?</span>
          <br/>

          <form name="importKey" class="import">
            <label class="radio-inline">
                        <input type="radio" name="" ng-model="myText" value="1">Private Key
                    </label>
            <label class="radio-inline">
                        <input type="radio" name="chooseone" ng-model="myText" value="2">Keystore/JSON file
                    </label>

          <div ng-if="myText==1">
              <div class="form-group" style="margin-top: 7%;">
            <span style="font-size: 110%;">Paste/Type your Private Key:</span>

           
              <textarea placeholder="zm,cn,mscns,dmncs,dcn,smc" class="ta5" ng-model="formData.privKey"></textarea>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="formData.importKeyPassword">
            </div>

            <button class="btn btn-primary" ng-click="importPrivKey()">Import Wallet</button>

            <div class="error-container">
              <p style="color:red" ng-if="importPrivKeyError">{{importPrivKeyErrorMessage}}</p>
              <p style="color:green" ng-if="!importPrivKeyError && addressThroughKey !== undefined">Address : {{addressThroughKey}}</p>
            </div>

          </div>

          <div ng-if="myText==2">

            <div class="form-group" style="margin-top: 7%;">
              <span style="margin-right: 10px">Select your wallet file:</span>
              
              <input type="file" name="file" id="file" upload-file on-read-file="showContent($fileContent)" size="60" class="inputfile"
              />
              <label class="btn btn-default" for="file"><i class="fa fa-upload" aria-hidden="true"></i> <strong>Choose a file</strong></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="formData.importUtcPassword">
            </div>

            <button class="btn btn-primary" ng-click="importUtc()">Import Wallet</button>

            <div class="error-container">
              <p style="color:red" ng-if="importUtcError">{{importUtcErrorMessage}}</p>
              <p style="color:green" ng-if="!importUtcError && addressThroughUtc !== undefined">Address : {{addressThroughUtc}}</p>
            </div>

          </div>

        </form>

        </div>


      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="panel panel-info clearfix">

        <div class="panel-heading">
          <h4>Export Private Key</h4>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label style="font-size: 137%;">Enter Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="formData.exportKeyPassword">
          </div>

          <button class="btn btn-primary" ng-click="exportPrivKey()">Export Private Key</button>

          <div class="error-container">
            <p style="color:red" ng-if="exportPrivKeyError">{{exportPrivKeyErrorMessage}}</p>
            <p style="color:green" ng-if="!exportPrivKeyError && privateKey !== undefined">Private Key : {{privateKey}}</p>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>