<div id="update-settings" ng-controller="dashboardCtrl" ng-init="getUserDetails()">
    <script type="text/ng-template" id="myModalContent.html">
      
    
          <div id= "login-signup" style="background: black;">
              
                  <div class="agile-login" style="padding-top: 8%;padding-bottom: 7%;background: black;">
                          
                          <div class="wrapper">
                              <h2>Enter New Password</h2>
          <div class="w3ls-form">
              <form name="loginForm">
                  <label>New Password</label>
                  <input id="passwordsignup" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-keypress="enterPress($event)" name="passwordsignup" ng-model="formData.newPassword" required="required" type="password" placeholder="New Password"/>
                  <p style = "color:red;" ng-show="loginForm.passwordsignup.$error && resetPasswordError">Password should be atleast 8 characters long
                      and should contain one number,one character and one special
                      character.</p>
                  <label>Confirm Password</label>
                  <input id="passwordsignup_confirm" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-keypress="enterPress($event)" ng-model="formData.newPasswordOne" name="passwordsignup_confirm" required="required" type="password" placeholder="Confirm Password" />
                 
                  
                  <input type="button" ng-click="resetPassword()" value="Submit" />
                  <!-- <p style="color:red" ng-show="resetPasswordError">{{resetPasswordErrorMessage}}</p> -->
              </form>
          </div>
        </div>
      </div>
    </div>
  
      <!-- <div class="modal-footer">
          <button class="btn btn-primary">Reset</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div> -->
  </script>

  <div id="user-information" class="panel panel-info clearfix">
    <div class="panel-heading">
      <h4>User Information</h4>
    </div>
    <div class="panel-body" style="font-size: 180%;padding:50px">
      <div class="row">
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <label>First name</label>
          <div class="font-balance-setting">{{user.firstName}}</div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <label>Last name</label>
          <div class="font-balance-setting">{{user.lastName}}</div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <label>Phone number</label>
          <div class="font-balance-setting">{{user.telephone}}</div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <label>Email</label>
          <div class="font-balance-setting">{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info clearfix">
    <div class="panel-heading">
      <h4>Settings</h4>
    </div>
    <div class="panel-body" style="font-size: 180%;padding:50px">
      <div class="form-group clearfix">
        <label class="control-label">Use 2 factor authentication</label>
        <label class="switch pull-right">
              <input type="checkbox" ng-checked= "user.is2FAOn" ng-model="user.is2FAOn" ng-change="twoFactorAuthentication()">
              <span class="slider"></span>
            </label>
      </div>

      <div class="form-group">
        
          <label class="control-label" ng-click="open()" style="cursor:pointer">Reset Password</label>
        
      </div>
      
        

    </div>
  </div>
</div>