<div id="transactions" ng-controller="transactionCtrl" ng-init="getTransactionHistory()">
    <toaster-container toaster-options="{'time-out': 10000}"></toaster-container>
    <h3 class="heading">Transactions</h3>
  
    <table st-table="displayedCollection" st-safe-src="transactionList" class="table">
      <thead>
        <tr>
          <th st-sort="timeStamp">Date</th>
          <th st-sort="transactionId">Transaction Id</th>
          
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in displayedCollection">
          <td>{{row.timeStamp*1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{row.hash}}</td>
          
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div ng-if="transactionList.length > 0" class="form-horizontal">
              <div class="form-group">
                <label class="col-xs-4 col-sm-3 col-md-2 col-lg-2 text-right" for="currency">Items per page</label>
                <select class="col-sm-2 col-xs-2 col-md-1 col-lg-1" id="currency" ng-model="itemsPerPage">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                          </select>
              </div>
              <div st-pagination="" st-items-by-page="itemsPerPage"></div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    <p style="color: white" ng-if="transactionList.length == 0">No records found</p>
  </div>
