<div id="send-money" ng-controller="dashboardCtrl">
    <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
  <div class="panel panel-info clearfix">
    <div class="panel-heading">
      <h4>Transfer</h4>
    </div>
    <div class="panel-body">
      <form name="send-money-form">
        <div class="form-group">
          <label for="currency" class="font-balance">Currency</label>
          <select class="form-control" id="currency" ng-model="formData.currency">
            <option value="">Select currency</option>
            <option value="Ether">Ether</option>
            
            <option value="Dowcoin">Dowcoin</option>
          </select>
        </div>
        <div class="form-group">
          <label for="destination" class="font-balance">Destination</label>
          <input type="text" class="form-control" ng-model="formData.to">
        </div>
        <div class="form-group">
          <label for="amount" class="font-balance"> Amount</label>
          <input type="text" class="form-control" ng-model="formData.value">
        </div>
        <div class="form-group">
          <label for="password" class="font-balance">Password</label>
          <input type="password" class="form-control" ng-model="formData.transferPassword">
        </div>
       
        <button class="btn btn-primary btn-lg" ng-if="formData.currency === 'Ether'" ng-click="transferEther()" ng-disabled="tokenButton">Send</button>
        <button class="btn btn-primary btn-lg" ng-if="formData.currency === 'Dowcoin'" ng-click="transferToken()" ng-disabled="tokenButton">Send</button>
        <button class="btn btn-primary btn-lg" ng-if="formData.currency === undefined" ng-disabled="tokenButton">Send</button>
        <div class="error-container">
          <p style="color:red" ng-if="transferError">{{transferErrorMessage}}</p>
          
          <p style="color:green" ng-if="!transferError && transactionToken !== undefined" >Tx hash : {{transactionToken}}</p>
        </div>
        <!-- <p style="color:green">Tx hash : {{transactionToken}}</p> -->
      </form>
    </div>
  </div>
</div>